body{
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url("imagees/hero.png"); 
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.logo{
    width: 100px;
    height: 50px;
    
}
.nav{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.profile{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav *{
    width: 85px;
    height: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.content{
    width: 50%;
    height: 300px;
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right:auto;
    margin-top: 300px;
    margin-bottom: 50px;
}
.tagline h1{
    font-size: 65px;
    color: white;
    text-align: center;
    line-height: 70px;

}
.text p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;

}
.actionbutton button{
    width: 214px;
    height: 60px;
    background-color: #00A651;
    color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
 
}
.service-page{
    padding: 100px;
   
}
.service-page h2{
    text-align: center;
    margin-bottom: 20px;
}
.next-serv{
    display: flex;
    gap: 100px;
    

}
.card1{
    /* border: 1px solid orange; */
    width: 416px;
    height: 232px;
    border-radius: 15px;
    background-color: #F9F9F9;
    text-align: center;
}

.card2{
    /* border: 1px solid orange; */
    width: 416px;
    height: 232px;
    border-radius: 15px;
    background-color: #FFFFFF;
    text-align: center;
}
.card3{
    /* border: 1px solid orange; */
    width: 416px;
    height: 232px;
    border-radius: 15px;
    background-color: #F9F9F9;
    text-align: center;
}
.bigone{
    /* border: 1px solid purple; */
    width: 100%;
    height: 600px;
    background-color: #0058530D;
    margin-top: 100px;
}
.bigone h1{
    text-align: center;

}
.bigone p{
    text-align: center;

}
.toflx{
    display: flex;
    justify-content: space-around;
}



.bigword{
    /* border: 1px solid yellow; */
    margin-top: 50px;
}

.nextcrd{
     /* border: 1px solid orange; */
     width: 200px;
     height: 200px;
     border-radius: 15px;
     background-color: #FFFFFF;
     margin-top: 100px;
    
 }
 .nextcrd h2 {
     text-align: center;
 }




.populardest{
    text-align: center;
}
.populardest-wrap{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    /* border: 1px solid black; */
}
.populardest-card{
    /* border: 1px solid red; */
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.populardest-card img{
    width: 150px;
    height: 150px;
}
   .destcard-text{
       display: flex;
       align-items: center;
       gap: 20px;
   }

   .package{
       /* border: 1px solid blue; */
       width: 100%;
       height: 900px;
       text-align: center;
       background: #ECF1F0;
       /* margin-left: auto;
       margin-right: auto; */

   }
   .hot-package{
       display: flex;
       justify-content: space-around;
       margin-top: 50px;
   }
   .hotdeal{
       width: 180px;
       height: 60px;
       background: #00A651;
       color: #FFFFFF;
       border-radius: 15px;
       text-align: center;
   }
   .backpk{
    width: 180px;
    height: 60px;
    background: #666666;
    color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
   }
   .Europe{
    width: 180px;
    height: 60px;
    background: #666666;
    color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
   }
   .sa{
    width: 180px;
    height: 60px;
    background: #666666;
    color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
   }
   .hm{
    width: 180px;
    height: 60px;
    background: #666666;
    color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
   }
   .More{
    width: 180px;
    height: 60px;
    background: #666666;
    color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
   }
   .package-card{
       display: flex;
       justify-content: space-around;
       border-radius: 15px;
       margin-top: 100px;
       margin-bottom: 80px;
   }
   .pcard1{
       /* border: 1px solid red; */
       width: 270px;
       height: 400px;
   }
   .pcard1 img{
       width: 270px;
       height: 200px;
   }
   .packagetext{
       display: flex;
       justify-content: space-between;
       text-align: center;
   }
   .packagetext-2{
       text-align: left;
   }
   .packagetext-3{
       display: flex;
       justify-content: space-between;
   }
   .packagebutton button{
    width: 214px;
    height: 60px;
    background-color: #00A651;
    color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
   }
   .booktrip{
       /* border: 1px solid orange; */
       width: 100%;
       height: 700px;
       text-align: center;
     
   }
   .booktrip-group img{
    margin-top: -200px;

   }
   .people-say{
       border: 1px solid purple;
       width: 100%;
       height: 500px;
       text-align: center;
       background: #ECF1F0;

   }
   .people-say-wrap img{
       width: 1128px;
       height: 397px;
       align-items: center;
   
   }
   .border-like{
       border: 1px solid skyblue;
       width: 1000px;
       height: 407px;
       margin: auto;
       background-color: #9FFFEC;
       border-radius: 120px 0px 0px 0px;
       color: black;
       margin-top: 100px;
       position: relative;
       
   }
   .border-like p{
    margin: auto;
    width: fit-content;
    height: 400px;
    font-family: Open Sans;
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    margin-top: 100px;
   }
   .ipt{
    display: flex;
    margin-top: -250px;
    margin-left: 100px;
    column-gap: 30px;
   }
   .put{
    width: 450px;
    border-radius: 10px;
    background: #FFFFFF; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}
.ipt input{
    width: 421px;
    height: 68px;
    border-radius: 10px;
    background: #FFFFFF;
    border: none; 
    font-size: 20px;

  
}
.ipt button {
    background: #00A651;
    width: 180px;
    height: 68px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 20px;
}
.star{
    position: absolute;
    left: 940px;
}
.round{
    width:70px;
    height:70px;
    background-color:  #00A651;
    border-radius: 50%;
    position: absolute;
    top:4710px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
 .round img{
     width: 45px;
     height: 45px;
 }